<div>
    <div class="settings-panel">
        <h3 style="color: #ff4747;">Comunidad de Usuarios</h3>
        <p>Busca la actividad de otros usuarios de la plataforma.</p>
        
        <div style="display: flex; gap: 10px; margin-bottom: 20px;">
            <input type="text" ng-model="$ctrl.searchUser" placeholder="Nombre de usuario (ej: cr7bicho)" class="login-input" style="width: 300px; margin: 0;">
            <button ng-click="$ctrl.buscar()" class="btn-primary">Buscar Perfil</button>
        </div>
        <div ng-if="$ctrl.error" class="error">{{$ctrl.error}}</div>
    </div>

    <div ng-if="$ctrl.userResult">
        <h2>Colección Pública de {{$ctrl.userResult.username}}</h2>
        
        <div class="serie-grid" ng-if="$ctrl.seriesDetalles.length > 0">
            <div class="card-serie" ng-repeat="item in $ctrl.seriesDetalles">
                <span class="badge badge-pendiente" ng-if="item.estado === 'PENDIENTE'">PENDIENTE</span>
                <span class="badge badge-empezada" ng-if="item.estado === 'EMPEZADA'">EMPEZADA</span>
                <span class="badge badge-terminada" ng-if="item.estado === 'TERMINADA'">TERMINADA</span>
                
                <img ng-src="{{item.poster}}" class="serie-poster">
                <div class="card-info">
                    <h4>{{item.titulo}}</h4>
                </div>
            </div>
        </div>

        <div class="settings-panel" ng-if="$ctrl.seriesDetalles.length === 0" style="text-align: center;">
            <p>Este usuario es muy reservado y aún no tiene series en su lista.</p>
        </div>
    </div>
</div>