<div class="container">
  
  <h2 class="section-title">Empezadas</h2>
  <div class="list-container">
    <div *ngIf="empezadas().length === 0" class="empty-msg">No hay series.</div>
    <a *ngFor="let s of empezadas()" [routerLink]="['/serie', s.id]" class="serie-link" style="display:flex; justify-content:space-between;">
      <span>▶ {{s.titulo}}</span>
      <button class="btn-primary" (click)="archivar(s.id, $event)">📥 Archivar</button>
    </a>
  </div>

  <h2 class="section-title">Mi Lista (Pendientes)</h2>
  <div class="list-container">
    <div *ngIf="pendientes().length === 0" class="empty-msg">No hay series.</div>
    <a *ngFor="let s of pendientes()" [routerLink]="['/serie', s.id]" class="serie-link" style="display:flex; justify-content:space-between;">
      <span>+ {{s.titulo}}</span>
      <button class="btn-primary" (click)="archivar(s.id, $event)">📥 Archivar</button>
    </a>
  </div>

  <h2 class="section-title">Terminadas</h2>
  <div class="list-container">
    <div *ngIf="terminadas().length === 0" class="empty-msg">No hay series.</div>
    <a *ngFor="let s of terminadas()" [routerLink]="['/serie', s.id]" class="serie-link" style="color: #aaa; display:flex; justify-content:space-between;">
      <span>✓ {{s.titulo}}</span>
      <button class="btn-primary" (click)="archivar(s.id, $event)">📥 Archivar</button>
    </a>
  </div>

</div>